# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build / dist
dist/
build/
out/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Project specific large files
*.weights
*.db
*.sqlite3
proctoring.db
yolov3.weights

# Logs
*.log
